@model List<ProductDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var product in Model)
{
    <h1>@product.Name</h1> <br />
    
    <h3>@product.CreatedBy</h3>
    <h3>@product.CreatedDate</h3>    
    <br />
    <br />
}